/* Estilos para el juego de capitales */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e1d9e6;
    margin: 0;
}

.container {
    text-align: center;
    background-color: hsla(171, 61%, 57%, 0.65);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#answer {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    width: 80%;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1em;
    cursor: pointer;
}

.result {
    font-size: 1.2em;
    margin-top: 10px;
}
